/.eslintrc.json
/.prettierrc.json
/.swcrc
/.vscode/extensions.json
/.vscode/settings.json
/coverage
/dist
/jest.config.json
/package-lock.json
/tsconfig.base.json
/tsconfig.eslint.json
/tsconfig.json
